example_data/2023_WhonnockSpeciesComposition.xlsx
example_data/2023MergedLengths.csv
example_data/2023MergedLengths_new35cmonly_Oct2024.csv
example_data/Scale Database Export 2013-2023 Pink and Sockeye AB TF .xlsx
example_data/SONARMERGE export_2023.csv
example_data/Whonnock_FLengths_2023-2024_OtherSalmon.xlsx
